<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Custom styles for this template -->
	<link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/jumbotron/">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	{# Run `composer require symfony/webpack-encore-bundle`
	and uncomment the following Encore helpers to start using Symfony UX #}
	{% block stylesheets %}
	{#{{ encore_entry_link_tags('app') }}#}
	{% endblock %}

	{% block javascripts %}
	{#{{ encore_entry_script_tags('app') }}#}
	{% endblock %}
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">SymNews</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('news')}}">News</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {{is_granted('IS_AUTHENTIFICATED_FULLY')==false ? 'disabled'}}" href="#">Auteurs</a>
				</li>
				<!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">Dropdown</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li> -->
			</ul>
			<ul class="navbar-nav ml-auto">
				{% if is_granted('IS_AUTHENTIFICATED_FULLY') %}
				<li class="nav-item">
					<a class="nav-link" href="#">Déconnexion</a>
				</li>
				{% else %}
				<li class="nav-item active">
					<a class="nav-link" href="{{path('app_login')}}">Connexion
					</a>
				</li>
				{% endif %}
			</ul>
			<!-- <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
		</div>
	</nav>
	{% block body %}{% endblock %}

	<footer class="container">
		<p>&copy; Company 2001-2021</p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>